extends ./layout/layout.pug
block content
    h1(style="text-align: center") HỆ HỖ TRỢ QUYẾT ĐỊNH
    br
    br
    br
    br
    br
    a.btn.btn-outline-success.mr-20(href="/phancum")  Phân Cụm Khách Hàng