extends ../layout/layout.pug
block content
    h1 new
    if errors
        each error in errors
            .alert.alert-danger= error
    form(action="/user/create" method='POST' enctype="multipart/form-data")
        .form-group
            label.mr-2(for="exampleInputEmail1") Tên
            input.form-control(name="name" type="text" placeholder="Tên")
        .form-group
            label.ml-2(for="exampleInputEmail1") Fresh
            input.form-control(name= "fresh" type="text" placeholder="Fresh")
        .form-group
            label.ml-2(for="exampleInputEmail1") Fresh
            input.form-control(name= "frozen" type="text" placeholder="Fresh")
        .form-group
            label.ml-2(for="exampleInputEmail1") Milk
            input.form-control(name= "milk" type="text" placeholder="milk")
        .form-group
            label.ml-2(for="avatar") avatar
            input.form-control-file(name= "avatar" type="file")
        button.btn.btn-primary create

